const find = require('lodash/find');

module.exports = function apacheConfigTemplate(repos, branchName, config) {
    const subdomain = const subdomain = getSubdomainFromBranchName(branchName);
    return `
<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName ${branchName}.${testDomain}

    Header add X-Server "stage"
    SetEnv APPLICATION_ENV "stage"

    DocumentRoot ${buildPath}/branch_MY-REPO-NAME_${subdomain}/public
    <Directory ${buildPath}/branch_MY-REPO-NAME_${subdomain}/public>
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all

        DirectoryIndex index.php index.html
    </Directory>

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    ErrorLog ${apacheLogDir}/${subdomain}.${testDomain}.error.log
    CustomLog ${apacheLogDir}/${subdomain}.${testDomain}.access.log combined
</VirtualHost>
    `;
}
